<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.0.1" targetFramework="net452" />
  <package id="OctoPack" version="3.0.45" targetFramework="net452" developmentDependency="true" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.Support" version="2.50.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.50.1" targetFramework="net452" />
  <package id="Should" version="1.1.20" targetFramework="net452" />
  <package id="SpecFlow" version="2.0.0" targetFramework="net452" />
</packages>