<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DatabaseName" value="ClearMeasure.Bootcamp"/>
    <add key="DatabaseServer" value="localhost\SQLEXPRESS2014"/>   
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
