<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AliaSQL.Kickstarter" version="1.0.4.1230" targetFramework="net45" />
  <package id="OctoPack" version="3.0.45" targetFramework="net46" developmentDependency="true" />
  <package id="SlowCheetah" version="2.5.14" targetFramework="net45" />
</packages>