@{
    ViewBag.Title = "Home Page";
    
}

<div class="jumbotron">
    <h2>Expense Reports</h2>
    <p class="lead">With this system, you can draft, submit, and track your expense reports</p>
    <p><a href="http://clear-measure.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Getting Started</h3>
        <p>
        </p>
        <p><a class="btn btn-default" href="/expensereport/manage?mode=new">Draft Report &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h3>Track My Reports</h3>
        <p>You can track the status of all your expense reports at the click of the mouse</p>
        <p><a class="btn btn-default" href="/expensereportsearch">Track &raquo;</a></p>
    </div>
</div>